/* RESET */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

/* HEADER */
header {
    background-color: #2c4a92;
    color: white;
    text-align: center;
    padding: 15px;
}

header h1 {
    margin: 0;
}

/* NAV */
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HOVER (OBRIGATÓRIO) */
nav a:hover {
    color: yellow;
    text-decoration: underline;
}

/* GRID (OBRIGATÓRIO) */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 20px;

    align-items: start;
    justify-content: center;
}

/* TÍTULO */
main h2 {
    grid-column: 1 / -1;
    /* ocupa as duas colunas */
    text-align: left;
    margin-bottom: 10px;
}

/* CARDS */
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;

    justify-self: center;
}

/* HOVER CARD */
.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

/* IMAGENS */
.card img {
    width: 100%;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background-color: #2c4a92;
    color: white;
    text-align: center;
    padding: 10px;
}